<div class="inv-btn-container">
    <button type="button" class="btn btn-primary">Add inventory</button>
</div>
<div>
    <% if @inventories.length == 0 %>
        <div class="no-ivent">
            <p>No inventories</p>
        </div>
    <% else %>
        <div class="inv-list-container">
            <% @inventories.each do |inventory| %>
                <div class="inv-list-item">
                    <%= link_to inventory_path(inventory.id) do %>
                        <div class="inv-item-actitle">
                            <div>
                                <span><%= inventory.name %></span>
                            </div>
                            <template>
                                <div class="remove-btn">
                                    <%= link_to 'Remove', inventory_path(inventory.id), method: :delete %>
                                </div>
                            </template>
                        </div>
                        <div class="inv-item-description">
                            <p><%= inventory.description %></p>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>
</div>